
<%= render @article %>

<div>
  <% if user_signed_in? && (current_user.id == @article.user_id)%>

  <%= link_to "Edit this article", edit_article_path(@article) %>
  
  <%= button_to "Destroy this article", @article, method: :delete %>

  <% else %>

  <% end %>



  <%= link_to "Back to articles", articles_path %>

</div>
