<%= render @order %>

<div>
  <% if user_signed_in? && (current_user.id == @order.user_id)%>

  <%= link_to "Edit this order", edit_order_path(@order) %> |

  <%= button_to "Destroy this order", @order, method: :delete %>

    <% else %>
  
    <% end %>

  <%= link_to "Back to orders", orders_path %>

</div>
